<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.inventoryfragmentcontentprovider">

    <application
        android:name="com.example.inventoryfragmentcontentprovider.ui.inventory.InventoryApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.inventoryfragmentcontentprovider.ui.login.LoginViewImpl"
            android:theme="@style/LoginTheme">

        </activity>
        <activity android:name="com.example.inventoryfragmentcontentprovider.SplashActivity" >

        </activity>
        <activity android:name="com.example.inventoryfragmentcontentprovider.ui.inventory.InventoryActivity" />
        <activity android:name="com.example.inventoryfragmentcontentprovider.DashboardActivity" >

        </activity>
        <activity android:name="com.example.inventoryfragmentcontentprovider.ui.product.ProductActivity" />
        <activity android:name="com.example.inventoryfragmentcontentprovider.ui.dependency.DependencyActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.inventoryfragmentcontentprovider.ui.sector.view.SectorActivity" >

        </activity>
        <activity android:name="com.example.inventoryfragmentcontentprovider.ui.prefs.AccountSettingActivity" />
        <activity android:name="com.example.inventoryfragmentcontentprovider.ui.prefs.GeneralSettingActivity" />
        <activity android:name="com.example.inventoryfragmentcontentprovider.ui.about.AboutActivity" />
    </application>

</manifest>